@import '../../../../../variables';

:host {
  color: white;
  padding: .5rem 0;
  line-height: 1.5;
}

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;

  td, th {
    padding: .25rem .5rem;
    border-bottom: $panel-border;
  }
}

.lm-parts {

  &__line-count,
  &__word-count,
  &__character-count {
    text-align: right;
    background: $panel-group-background-color;
  }

}
