<table>
  <tr>
    <th>Part Name</th>
    <th>Lines</th>
    <th>WC</th>
    <th>CC</th>
  </tr>
  <tr *ngFor="let part of songParts | async">
    <td class="lm-parts__part-name">{{ part.name }}</td>
    <td class="lm-parts__line-count">{{ part.lineCount }}</td>
    <td class="lm-parts__word-count">{{ part.wordCount }}</td>
    <td class="lm-parts__character-count">{{ part.characters }}</td>
  </tr>
</table>
