@import '../../../../../variables';

:host {
  padding: .5rem;
  ::selection {
    background-color: $attention-color;
  }
}

.lm-text-editor {
  &__list {
    color: white;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__part {
    margin-bottom: .8rem;
  }

  &__part-title {
    font-weight: bold;
    margin-bottom: .5rem;
  }

  &__input {
    background: transparent;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: .5rem;
    line-height: 1.5;
    border: $panel-border;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
}
