<ul class="lm-text-editor__list">
  <li
      class="lm-text-editor__part"
      *ngFor="let part of parts | async">
    <div class="lm-text-editor__part-title">{{ part.name }}</div>
    <textarea
        class="lm-input-field lm-text-editor__input"
        cdkTextareaAutosize
        cdkAutosizeMinRows="2"
        (select)="selected(part, $event)"
        (click)="logEvent($event)"
        (contextmenu)="logEvent($event)"
        (focus)="markPartAsActive(part)"
        (blur)="markPartAsInactive(part)">{{ part.content }}</textarea>
  </li>
</ul>
