$panel-group-background-color: #424242;
$panel-group-tab-background-color: #ffffff;
$panel-group-tab-color: #f3f3f3;
$panel-group-tab-active-background-color: #535353;
$panel-group-tab-active-color: #ffffff;
$panel-group-tab-hover-background-color: #4f4f4f;
$panel-tab-background-color: #535353;
$panel-border-color: #3f3f3f;

$panel-border: 1px solid $panel-border-color;

$attention-color: #19A5DF;
