/* You can add global styles to this file, and also import other style files */
@import 'variables';

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body, lm-root {
  display: flex;
}

lm-root {
  width: 100%;
  height: 100%;
  font-family: Helvetica;
  font-size: 12px;
}

* {
  // min-height: 1px;
}

// Input field
.lm-input-field-wrapper {
  border-bottom: $panel-border;
  padding: 0 .5rem;
  position: relative;

  .lm-spinner {
    position: absolute;
    right: 12px;
    top: 12px;
  }
}

.lm-input-field {
  margin: .5rem .5rem .5rem 0;
  box-sizing: border-box;
  line-height: 2;
  font-size: 14px;
  background: $panel-group-background-color;
  border: 0;
  padding: 0 .5rem;
  color: white;
  width: 100%;

  &:active,
  &:focus {
    outline: 2px solid $attention-color;
  }
}

// Spinner
.lm-spinner {
  border: 3px solid transparent;
  border-bottom-color: $attention-color;
  border-top-color: $attention-color;
  animation: rotate 1s linear 0s infinite;
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
}

@keyframes rotate {
  from {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
