@import '../../../../../variables';

:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background: $panel-group-background-color;
  border: $panel-border;
}

.lm-panel-group {
  &__header {
    display: flex;
    align-items: center;
  }

  &__tabs {
    padding: 0;
    margin: 0;
    display: inline-block;
    flex-grow: 1;
  }

  &__tab {
    display: inline-block;
    padding: 2px 10px;
    font-weight: bold;
    line-height: 28px;
    border: $panel-border;
    border-bottom: 0;
    color: $panel-group-tab-color;
    cursor: pointer;

    &:hover {
      background: $panel-group-tab-hover-background-color;
    }

    &--active {
      background: $panel-group-tab-active-background-color;
      color: $panel-group-tab-active-color;
    }
  }

  &__content {
    background: $panel-tab-background-color;
    border: $panel-border;
    border-top: 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    > * {
      flex-grow: 1;
    }
  }

  &__menu {
    margin: 0 10px;
    color: $panel-group-tab-color;
    flex-grow: 0;
    cursor: pointer;
  }
}