<div class="lm-panel-group__header">
  <ul class="lm-panel-group__tabs"
      cdkDropList>
    <li class="lm-panel-group__tab"
        cdkDrag
        *ngFor="let panel of panels"
        [ngClass]="{
          'lm-panel-group__tab--active': panel === this.activePanel
        }"
        (click)="setActivePanel(panel)"
        (dblclick)="collapsed = !collapsed">
      {{ panel.title }}
    </li>
  </ul>
  <span class="lm-panel-group__menu">&#9776;</span>
</div>

<div class="lm-panel-group__content"
     *ngIf="!collapsed"
     #panelContent></div>
