@import '../../../../../variables';

:host {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  height: 100%;
}

.lm-panel-stack {
  &__collapse {
    font-size: 10px;
    background: #424242;
  }

  &__stack {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-grow: 1;
  }

  &__resize-bar {
    cursor: col-resize;
    width: 2px;
    flex-grow: 0;
    background: $panel-group-background-color;

    &--dragging {
      background: $attention-color;
    }
  }
}
