<div class="lm-panel-stack__stack">
  <div class="lm-panel-stack__collapse">&lt;&lt;</div>
  <ng-content></ng-content>
</div>

<div class="lm-panel-stack__resize-bar"
     [ngClass]="{
       'lm-panel-stack__resize-bar--dragging': isDragging
     }"
     cdkDrag
     cdkDragLockAxis="x"
     (cdkDragStarted)="startDrag()"
     (cdkDragEnded)="repositionBar($event)"></div>
