<div class="lm-input-field-wrapper">
  <input type="text"
         class="lm-input-field"
         placeholder="Search for a synonym..."
         [formControl]="inputControl" />
  <span class="lm-spinner"
        *ngIf="isLoading"></span>
</div>

<div class="lm-synonyms__synonym-container">
  <ul class="lm-synonyms__synonym-list">
    <li class="lm-synonyms__synonym"
        *ngFor="let synonym of synonyms | async ">
      {{ synonym.word }}
    </li>
  </ul>
</div>
