<div style="display: flex; width: 100%; height: 100%;">
  <div style="display: flex; width: 100%; height: 100%;"
       cdkDropListGroup>
    <lm-panel-stack
        *ngFor="let stack of layout; first as isFirst; last as isLast; trackBy trackByIndex">
      <lm-panel-group
          *ngFor="let group of stack; trackBy trackByIndex"
          [panels]="group"
          (cdkDropListDropped)="dropped($event)">
      </lm-panel-group>
    </lm-panel-stack>
  </div>
</div>
