<div class="lm-input-field-wrapper">
  <input type="text"
         class="lm-input-field"
         placeholder="Search for a rhyme..."
         [formControl]="inputControl" />
  <span class="lm-spinner"
        *ngIf="isLoading"></span>
</div>

<div class="lm-rhymes__rhymes-container">
  <ul class="lm-rhymes__rhyme-list">
    <li class="lm-rhymes__rhyme"
        *ngFor="let rhyme of rhymes | async ">
      {{ rhyme.word }}
    </li>
  </ul>
</div>
