@import '../../../../../variables';

:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.lm-rhymes {
  &__rhymes-container {
    overflow: auto;
    color: white;
    height: 1px;
    flex-grow: 1;
  }

  &__rhyme-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__rhyme {
    padding: .35rem .5rem;

    &:hover {
      background: $panel-group-background-color;
    }
  }
}
